#input-Reset{
    text-align: center;
    border-width: 2px;
    border-style: solid;
    border-radius: var(--small-radius);
    background-color: var(--background-input-color);
}
#input-Reset:focus{
    border-color: var(--complementary-color);
    outline: none; 
}